body {
  background-color: pink;
  font-family: cursive;
}

h1 {
  background: url('https://sustainableexercise.files.wordpress.com/2014/07/banner_istock_000017490436smallfruit.jpg');
  color: white;
}

button {
  color: white;
  background-color: red;
  border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
}

.navigation {
  height: 40px;
  background-color: #ff2052;
}

.navigation li {
  float: left;
  padding: 10px;
  list-style: none;
}

.navigation li:hover {
  background-color: darkgrey;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: darkred;
}

h5 {
  margin-top: -5px;
  margin-bottom: 0px;
}

.item {
  padding: 10px;
}




