body {
  background-color: pink;
  font-family: cursive;
}

h1 {
  background: url('https://sustainableexercise.files.wordpress.com/2014/07/banner_istock_000017490436smallfruit.jpg');
  color: white;
  -webkit-text-stroke: 2px black;
}

.navigation {
  width: 100%;
  height: 40;
  background-color: #ff2052;
}

.navigation li {
  float: left;
  padding: 10;
  list-style: none;
}

.navigation li:hover {
  background-color: darkgrey;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: darkred;
}



